/* инфо внутри карусели */
.carousel-inner{
    
    padding-top: 200px;
    justify-content: center;
    padding-left: 50px;
    padding-right: 50px;
              
}
.carousel-inner h5{
    font-style: oblique;
    font-weight: 300;
    display: flex;
    justify-self: flex-start;
    text-align: start;
    font-size: 1.2em;
       
}
.carousel-inner i{
    color: orange;
    margin-right: 10px ;
    font-size: 1.2em;
   
}
.carousel-inner p{
    color: rgb(186, 182, 182);
    display: flex;
    justify-self: flex-start;
    font-size: 0.8em;
    margin-left: 100px;
}

.carousel-inner img{
    height: 75px;
    border-radius: 50%;
    margin-right: 20px;
}

.container-fluid{
    background: linear-gradient(to right, yellow, pink);
    height: 700px;    
}

.carousel{
    background-color: white;
    height: 200px;
    top: 250px;
    
       
}

.button{
    color: grey;
        
}
